* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: black;
    color: aliceblue
}

.container {
    display: flex;
    border: 5px solid aquamarine;
    padding: 10px;
    flex-wrap: wrap;
    /* align-items: stretch; */
}

.cont {
    display: flex;
    width: 100%;
}

.box1 {
    display: inline-flex;
    width: 50%;
    border: 5px solid lightblue;
    margin-right: 4px;
}

.box2 {
    width: 50%;
    border: 5px solid wheat;
    text-align: left;
}

.box3 {
    width: 100%;
    border: 4px solid lemonchiffon;
}

aside {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    color: white;
}

h6 {
    font-family: cursive;
    font-size: smaller;
    color: rgb(94, 94, 200);
}

.container1 {
    display: flex;
}

.emp {
    padding: 10px;
    border: 4px solid orange;
    margin-right: 4px;
}

.skill {
    padding: 10px;
    border: 4px solid lawngreen;
}

select{
    background-color: green;
}

:placeholder-shown{
    color:white;
    text-align: left;
    background-color: lightskyblue;
}